*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

.wrapper{
    width:100vw;
    height: 100vh;
    display: flex;
   
    /* background-color: rgb(195, 195, 225); */
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(0, 252, 255, 1) 4%, rgba(132, 147, 232, 1) 100%); 
}
.wrapper.active{

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,5,110,1) 100%, rgba(0,212,255,1) 100%);
    background: linear-gradient(89deg, rgba(18, 10, 54, 1) 57%, rgba(62, 61, 61, 1) 100%, rgba(62, 61, 61, 1) 100%);
}
.main-container{
    width: 60%;
    max-width:550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-container.active{

}
.head-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1rem;
}
.head-section.active{
    background: rgb(8,6,56);
    background: linear-gradient(90deg, rgba(8,6,56,1) 1%, rgba(68,6,46,0.9669117647058824) 61%, rgba(21,112,131,1) 100%);
}
.head-section.active h1{
    color:white;
}
.head-section.active .mode i{
    color:white;
}
.head-section.active .mode p{
    color: white;
}
.btn{
    color: transparent;
    width: 10px;
    height: 10px;
}
.head-section h1{
    font-size:2rem;
    color: black;
}
.mode{
    display: flex;
}
.mode i{
    color:black;
}
.mode p{
    color: black;
    font-size: 1.5rem;
    margin-top: 5px;

}
.mode button{
    height:30px;
    width:30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}
.search-section{
    width:100%;
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 0 10px black;
    margin-bottom: 10px;
}
.search-section.active{
    background: linear-gradient(89deg, rgba(0, 0, 0, 1) 0%, rgba(35, 47, 119, 1) 8%, rgba(62, 61, 61, 1) 63%);
}
.search-section.active input{
    color:white;
}
.search-section i{
    color: rgba(23, 91, 248, 1);
    margin-top: 5px;
}
.search-section input{
    all: unset;
    flex: 1;
}
.search-section button{
    all: unset;
    cursor: pointer;
    background-color: rgba(23, 91, 248, 1);
    color: white;
    padding: 5px 15px; 
    border-radius: 5px;
}
.profile-section{
    background-color: aliceblue;
    box-shadow: 0 0 10px black;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    gap:30px;


}
.profile-section.active{
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(1, 7, 8, 1) 18%, rgba(62, 61, 61, 1) 100%);
    box-shadow: 2px white;
            
}

.row{
    display: grid;
    height:200px;
    width: 100px;
    grid-template-columns: repeat(2,2fr);
    gap:20px;
    text-align: center;
   
    padding: 5px;
    margin-left: 10px;
}
.row img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
.user-info i{
    all: unset;
    color: rgba(23, 90, 248, 1);
    margin-bottom: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.profile-section.active .row .user-info h2{
    color: white;
}
.profile-section.active .row .user-info p{
    color:white;
}
.user-info h2{
    font-size: 2rem;
    width: 100%;
    white-space: nowrap;
}
.bio{
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    margin-left: 10px;
    color:black;
}
.bio.active{
    color:white;
}
.follow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    background-color: rgb(195, 195, 225);
    border-radius: 10px;
    padding: 10px 5px;
    margin: 20px 10px;
    font-size: 1.2rem;
}
.follow.active{
    background-color:rgba(0, 62, 226, 0.33);
}
.follow.active .data{
    color: white;
}
.data{
    display: flex;
    flex-direction: column;
}
.location{
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    row-gap: 20px;
    column-gap: 20px;
    font-size: 1.1rem;
}
.location.active{
    color:white;
}
.info{
    display: flex;
    flex-direction: row;
}
.info i{
    color: rgba(0, 0, 0, 0.653);
}